<!DOCTYPE html>
<html>
<head>

    {% include "invoice/head.html" %}

    <style type="text/css">
.btn {float:right;}
#qrcode {padding-right:25px; float:right; z-index:1}
@media print
{
@page { margin: 0; }
    body {font-family:Arial}
    .breadcrumb{display:none;}
    h1 {padding-bottom:30px;color:gray; float:right; position:absolute: z-index:1}
    #qrcode {padding-right:25px; float:right; z-index:1; padding-top:-200px}
    .nav{display:none;}
    .btn{display:none;}
    .navbar-header {display:none;}
    .dodavatel {float:left; position:absolute: z-index:1;}
    .odbetratel {float:right; position:absolute: z-index:1; padding-right:190px}
}


    </style>
    <script>

function printMe(){
     $("#body").show();
    window.print();
};

    </script>
    <title>Faktura {{faktura.cislo_faktury}} - {{ faktura.creator.nazov }} - {{zakaznik.nazov}}</title>

</head>

<body>
{% include "invoice/nav.html" %}
<div class="container-fluid">

    <ol class="breadcrumb">
        <li><a href="/">Domov</a></li>
        <li><a href="{% url 'invoice:faktury_all' %}">Faktury</a></li>
        <li class="active">Detail</li>
    </ol>
    <!--<button type="button" class="btn btn-danger"  OnClick=" location.href='/admin/' ">Admin</button> -->
    <button type="button" class="btn" title="Vytlacit fakturu c. {{faktura.cislo_faktury}} " onclick="printMe()"><i class="glyphicon glyphicon-print"></i></button>

    <h1>Faktura: {{faktura.cislo_faktury}}</h1>
    <div id="details">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <div class="row">
            <div class="col-lg-6 dodavatel">
                <h3><b>Dodavatel:</b></h3>
                <h4>{{ faktura.creator.nazov }}</h4>
                <h4><b>ICO:</b> {{ faktura.creator.ico }}</h4>
                <h4><b>DIC:</b> {{ faktura.creator.dic }}</h4>
                <hr class="soften"/>
                <h4><b>Bankove udaje:</b></h4>
                <h4>{{ faktura.creator.banka }}</h4>
                <h4>IBAN: {{ faktura.creator.cislo_uctu }}</h4>
                <hr class="soften"/>
                <h4><b>Datum vystavenia:</b> {{faktura.datum_vystavenia}}</h4>
                <h4><b>Datum splatnosti:</b> {{faktura.datum_splatnosti}}</h4>


            </div>
            <div class="col-lg-6 odbetratel">
                <h3><b>Odbetratel:</b></h3>
                <p>{{zakaznik.nazov}}</p>
                <h4><b>Meno:</b></h4>
                <p>{{zakaznik.meno}} {{zakaznik.priezvisko}}</p>
                <p>{{zakaznik.adresa_ulica}} <br/> {{zakaznik.adresa_mesto}} <br/> {{zakaznik.adresa_psc}}</p>
            </div>

        </div>

            <div class="row">
                <div class="col-lg-3">
                <hr class="soften"/>
                <h5><b>Komentar:</b></h5>
                <p>{{faktura.komentar}}</p>
                <hr class="soften"/>
                </div>
            <div class="col-lg-3">
<img src="https://services.profit365.eu/API/QR/PayBySquare.png?IBAN={{ faktura.creator.cislo_uctu }}&BIC={{ faktura.creator.cislo_swift }}&Currency=EUR&Amount={{sucet}}&DueDate={{ faktura.datum_splatnosti|date:'Y-m-d'}}&VS={{faktura.cislo_faktury}}&CS=0000&SS=0000&Description={{faktura.komentar}}&ID=&Size=256"
                />
            </div>
            </div>


        {% if polozky %}

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th colspan="5">Polozky</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Nazov</th>
                    <th>mnozstvo</th>
                    <th>cena (€)</th>
                    <th>Dan (%)</th>
                    <th>Spolu</th>
                </tr>
                {% for x in polozky.all %}
                <tr>
                    <td>{{ x.nazov }}</td>
                    <td>{{x.mnozstvo}}</td>
                    <td>{{x.cena}}</td>
                    <td>{{x.dan}}</td>
                    <td>{{ x.spolu|floatformat:2 }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="4" class="text-right bg-success"><b>Spolu total: </b></td>
                    <td class="bg-success"> {{ sucet }} €</td>
                </tr>
                </tbody>
            </table>
        </div>
        {% else %}
        <p>Ziaden zaznam.</p>
        {% endif %}


    </div>

</div>


</body>

</html>
