<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<title>Faktura {{faktura}}</title>

</head>

<body>
<div class="container-fluid	">
<nav class="navbar navbar-default navbar-tall navbar-full" role="navigation">
  <div class="navbar-header">
<ul class="nav navbar-nav">
{% include "invoice/nav.html" %}
</ul>
  </div>
 </nav>
<ol class="breadcrumb">
  <li><a href="/">Domov</a></li>
  <li class="active">Detail</li>

</ol>
<!--<button type="button" class="btn btn-danger"  OnClick=" location.href='/admin/' ">Admin</button> -->
<h1>Detail Faktury cislo: {{faktura}}</h1>
        <p>
        Dodavatel: {{ faktura.owner }} <br />
        Datum: {{faktura.datum_vystavenia}}<br />
        Datum splatnosti: {{faktura.datum_splatnosti}}<br />
        Komentar: {{faktura.komentar}}
        </p>
        <p><b>Polozky</b></p><ul>:
        {% for polozky in faktura.polozky.all %}
   		 <li>{{ polozky.nazov }}</li>
{% endfor %}
        </ul>
       

</div>
</body>

</html>