<!DOCTYPE html>
<html>
<head>

{% include "invoice/head.html" %}

<style type="text/css">
.btn {float:right;}

@media print
{	
.breadcrumb{ visibility: hidden; }
h1{ visibility: hidden; }
h2 {text-align:center; text-decoration:underline; padding-bottom:30px;}
.nav{ visibility: hidden; }
.btn{ visibility: hidden; }
.navbar-header { visibility: hidden; }
#InvoiceContent { position: absolute; top: 40px; left: 30px; }
}
</style>
<script>

function printMe(){
     $("#body").show();
    window.print();
};
	

</script>
<title>Faktura {{faktura.cislo_faktury}}</title>

</head>

<body>
<div class="container-fluid	">
<nav class="navbar navbar-default navbar-tall navbar-full" role="navigation">
  <div class="navbar-header">
<ul class="nav navbar-nav">
{% include "invoice/nav.html" %}
</ul>
  </div>
 </nav>
<ol class="breadcrumb">
  <li><a href="/">Domov</a></li>
  <li><a href="{% url 'invoice:faktury_all' %}">Faktury</a></li>
  <li class="active">Detail</li>

</ol>
<!--<button type="button" class="btn btn-danger"  OnClick=" location.href='/admin/' ">Admin</button> -->

<h1>{{ faktura.creator.nazov }}</h1><p><button type="button" class="btn" onclick="printMe()"><i class="glyphicon glyphicon-print"></i></button> </p>
<h2>Detail Faktury cislo: {{faktura.cislo_faktury}}</h2>
<div id="details">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="col-lg-6">
        <h4><b>Dodavatel:</b> {{ faktura.creator.nazov }}</h4>
        <h4><b>Datum:</b> {{faktura.datum_vystavenia}}</h4>
        <h4><b>Datum splatnosti:</b> {{faktura.datum_splatnosti}}</h4>
        <h5><b>Komentar:</b></h5>
        <p>{{faktura.komentar}}</p>

</div>	
<div class="col-lg-6"> 
<h4>Odbetratel:</h4> <p>{{zakaznik.nazov}}</p>
<h4>Meno:</h4> <p>{{zakaznik.meno}}</p>
<h4>Priezvisko:</h4> <p>{{zakaznik.priezvisko}}</p>
	
</div>
    

{% if polozky %}

         <table class="table table-striped table-hover"><thead>
			 <tr><th colspan="3">Polozky</th></tr></thead>
         <tbody>
    <tr><th>Nazov</th><th>mnozstvo</th><th>cena</th></tr>
            {% for x in polozky.all %}
   		 <tr><td>{{ x.nazov }}</td><td>{{x.mnozstvo}}</td><td>{{x.cena}}</td></tr>
		 
		
{% endfor %}

{% else %}
    <p>Ziaden zaznam.</p>
{% endif %}
</tbody>
 
       
</div>







</div>


</div>


</body>

</html>
