<!DOCTYPE html>
<html>
<head>

    {% include "invoice/head.html" %}

    <script>
$(document).ready(function(){
	$( "td.PAY:contains('0')").html("<span class='glyphicon glyphicon-remove' aria-hidden='true'></span> Neuhradene");
	$( "td.PAY:contains('1')").html("<span class='glyphicon glyphicon-check' aria-hidden='true'></span> Uhradene");
		});
    </script>
    <title>Faktury vseobecne</title>

</head>

<body>
{% include "invoice/nav.html" %}
<div class="container-fluid">


    <ol class="breadcrumb">
        <li><a href="/">Domov</a></li>
        <li class="active">Faktury</li>

    </ol>
    <!-- <button type="button" class="btn btn-danger"  OnClick=" location.href='/admin/' ">Admin</button> -->
    <h1>Zoznam mojich faktur</h1>


    {% if Fakturas_list %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Cislo</th>
                <th>Datum vystavenia</th>
                <th>Datum splatnosti</th>
                <th>Vytvoril</th>
                <th>Zakaznik</th>
                <th>Uhradena</th>
            </tr>
            </thead>
            <tbody>
            {% for b in Fakturas_list %}
            <tr>
                <td><a href="{% url 'invoice:detail' b.id %}">{{ b.cislo_faktury }}</a></td>
                <td>{{b.datum_vystavenia}}</td>
                <td>{{b.datum_splatnosti}}</td>
                <td>{{b.creator }}</td>
                <td>{{b.created_for.nazov}}</td>
                <td class="PAY">{{b.uhradena}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>Ziadne zaznamy.</p>
    {% endif %}
</div>
</body>

</html>
