<!DOCTYPE html>
<html>
<head>

{% include "invoice/head.html" %}
<title>Faktury vseobecne</title>

</head>

<body>
<div class="container-fluid">
<nav class="navbar navbar-default navbar-tall navbar-full" role="navigation">
  <div class="navbar-header">
<ul class="nav navbar-nav">
{% include "invoice/nav.html" %}
</ul>
  </div>
 </nav>

 <ol class="breadcrumb">
  <li><a href="/">Domov</a></li>
  <li class="active">Faktury</li>

</ol>
<!-- <button type="button" class="btn btn-danger"  OnClick=" location.href='/admin/' ">Admin</button> -->
<h1>Zoznam mojich faktur</h1>



{% if Fakturas_list %}
    <table class="table table-striped table-hover">
    <thead>
    <tr><th>Cislo</th><th>Datum vystavenia</th><th>Datum splatnosti</th><th>Vytvoril</th><th>Zakaznik</th></tr>
    </thead>
    <tbody>
    {% for b in Fakturas_list %}
        <tr><td><a href="{% url 'invoice:detail' b.id %}">{{ b.cislo_faktury }}</a></td>
        <td>{{b.datum_vystavenia}}</td>
        <td>{{b.datum_splatnosti}}</td>
        <td>{{ b.creator }}</td>
        <td>{{b.created_for}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Ziadne zaznamy.</p>
{% endif %}
</div>
</body>

</html>
