<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<title>Faktura {{creator}}</title>

</head>

<body>
<h1>Vitajte</h1>



{% if Fakturas_list %}
    <ul>
    {% for b in Fakturas_list %}
        <li><a href="/faktury/{{b.creator.id}}/{{b.created_for.id}}/{{ b.id }}/">{{ b.cislo_faktury }}</a> - {{ b.owner }} <br />
        Datum: {{b.datum_vystavenia}}<br />
        Datum splatnosti: {{b.datum_splatnosti}}
        </li>
        <hr />
    {% endfor %}
    </ul>
{% else %}
    <p>Ziadne vysledky.</p>
{% endif %}

</body>

</html>