<!DOCTYPE html>
<html>
<head>

{% include "invoice/head.html" %}

<title>Faktury zakaznika</title>

</head>

<body>
<div class="container-fluid">
<nav class="navbar navbar-default navbar-tall navbar-full" role="navigation">
  <div class="navbar-header">
<ul class="nav navbar-nav">
{% include "invoice/nav.html" %}
</ul>
  </div>
 </nav>
<!-- <button type="button" class="btn btn-danger"  OnClick=" location.href='/admin/' ">Admin</button> -->
<h1>Vitajte</h1>


<p> Jednoducha online faktracia</p>

<h3>Zoznam vystavenych faktur:</h3>
{% if Fakturas_list %}
    <table class="table table-striped table-hover">
    <thead>
    <tr><th>Cislo</th><th>Datum vystavenia</th><th>Datum splatnosti</th><th>Vytvoril</th></tr>
    </thead>
    <tbody>
    {% for b in Fakturas_list %}
        <tr><td><a href="{% url 'detail' b.id %}">{{ b.cislo_faktury }}</a></td>
        <td>{{b.datum_vystavenia}}</td>
        <td>{{b.datum_splatnosti}}</td>
        <td>{{ b.owner }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Ziadne vysledky.</p>
{% endif %}
</div>
</body>

</html>