<!DOCTYPE html>
<html lang="sk">
<head>

    {% include "invoice/head.html" %}


    <title>Faktury zakaznika</title>

</head>

<body>
{% include "invoice/nav.html" %}
<div class="container-fluid">


    <h1>Faktury online</h1>
<div class="row">
                <div class="col-lg-6">
    <p> Kontaktne udaje</p>
    <p><b>My Company s.r.o</b></p>
    <p>Adresa 007/1945, <br />Ulica, <br />Mesto 007 01</p>
    <hr class="soften"/>
                    <p><i class="glyphicon glyphicon-envelope"></i> <a href="mailto:haha@notthateasy.com">info@minirobota.sk</a></p>
    <p><i class="glyphicon glyphicon-phone"></i> +421 2 007 007</p>
    <p><i class="glyphicon glyphicon-phone-alt"></i> +421 949 007 007 </p>
                </div>
         <div class="col-lg-6">
<p><i class="glyphicon glyphicon-map-marker"></i> Location on a Map:</p>
 <iframe
  width="400"
  height="300"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDkBJNoSBweFsDT3X0Xwrgc20iwUWaLgoI
    &q=Space+Needle,Seattle+WA" allowfullscreen>
</iframe>
</div>



</body>

</html>
