<!-- top nav -->
<li><a href="/"><i class="glyphicon glyphicon-home"></i> Domov</a></li>
<li{% if request.get_full_path == 'invoice:firmas_all' %} class="active" {% endif %}><a href="{% url 'invoice:firmas_all' %}">Moje Firmy</a></li>
<li{% if request.get_full_path == 'invoice:zakaznik_all' %} class="active" {% endif %}><a href="{% url 'invoice:zakaznik_all' %}">Moji zakaznici</a></li>
<li{% if request.get_full_path == 'invoice:faktury_all' %} class="active" {% endif %}><a href="{% url 'invoice:faktury_all' %}">Faktury</a></li>
<li{% if request.get_full_path == 'invoice:firmas_all' %} class="active" {% endif %}><a href="/#">Nastavenia uctu</a></li>
{% if user.is_authenticated %}
<li><a href="/admin"><i class="glyphicon glyphicon-wrench"></i> Admin</a></li>
<li><a href="/admin/logout/?next=/"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
{% endif %}