<!DOCTYPE html>
<html>
<head>

    {% include "invoice/head.html" %}

    <title>Faktury zakaznika</title>

</head>

<body>
{% include "invoice/nav.html" %}
<div class="container-fluid">

    <ol class="breadcrumb">
        <li><a href="/">Domov</a></li>
        <li class="active">Zakaznici</li>
        <!--<li class="active">Firma</li> -->

    </ol>
    <!-- <button type="button" class="btn btn-danger"  OnClick=" location.href='/admin/' ">Admin</button> -->
    <h1>Zoznam Zakaznikov</h1>

    {% if zakaznik_list %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Nazov</th>
                <th>Adresa</th>
                <th>ICO</th>
                <th>DIC</th>
                <th>ICDPH</th>
                <th>Bankove spojenie</th>
                <th>Telefon</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            {% for b in zakaznik_list %}
            <tr>
                <td><a href="/zakaznik/{{ b.id }}">{{ b.nazov }}</a></td>
                <td>{{b.adresa_ulica}}, {{b.adresa_mesto}}, {{b.adresa_psc}}</td>
                <td>{{b.ico}}</td>
                <td>{{ b.dic }}</td>
                <td>{{ b.icdph }}</td>
                <td>{{ b.cislo_uctu}} - {{b.banka}}</td>
                <td>{{ b.telefon}}</td>
                <td>{{ b.email}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>Ziadne vysledky.</p>
    {% endif %}
</div>
</body>

</html>